*{margin:0;padding:0;}
.box{
    width:800px;
    background:#bebebe;
    margin:200px auto;
}
.a{background-color: red;}
.b{background-color: green;}
.c{background-color: blue;}
.d{background-color: gold;}
.e{background-color: pink;}

.box1{
    display: flex;
}
.box1 div{
    width:100px;
    height:100px;
}

.box2{
    display: flex;
}
.box2 div{
    width:100px;
    height:100px;
}
.box2 .a{order:1;}
.box2 .b{order:2;}
.box2 .c{order:3;}
.box2 .d{order:4;}
.box2 .e{order:5;}

.box3{
    display: flex;
    justify-content: flex-end;
}
.box3 div{
    width:100px;
    height:100px;
}

.box4{
    height:300px;
    display: flex;;
    justify-content: center;
    align-items: center;
}
.box4 div{
    width:100px;
    height:100px;
}

.box5{
    display: flex;
    height:300px;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-between;
}
.box5 div{
    width:100px;
    height:100px;
}

.box6{
    display: flex;
    height:300px;
    flex-wrap: wrap;
}
.box6 div{
    width:400px;
    height:100px;
}

.box7{
    display: flex;
    justify-content: space-between;
}
.box7 div div{
    width:100px;
    height:100px;
}


