.a-box{
    border-left:10px solid red;
    border-right:1px solid red;
    border-top:1px dashed blue;
    border-bottom:1px dotted green;
    border:1px solid #000;

    margin-left:50px;
    margin-right:50px;
    margin-top:50px;
    margin-bottom:50px;

    padding-left:50px;
    padding-right:50px;
    padding-top:50px;
    padding-bottom:50px;
}
.b-box{
    border:1px solid #000;
    
}